* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    text-align: center;
    display:block;
}
head {display: none;}
body {
    background-color: beige;
    
}
img {
    position;relative;
    margin:auto;
}
header {
    text-align: center;
    background-color: gray;
    color:blue;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
}
header ul li {
    display: inline-block;
}

.form {
    background-color: lightblue;
    color: blue;
    font-size: 20pt;
}

footer {
    background-color: lightgreen;
    color:blue;
}

#fname {
    position: relative;
    margin: auto;
}
#lname {
    position: relative;
    margin: auto;
}
#email {
    position: relative;
    margin: auto;
}
#submit {
    position:relative;
    margin: auto;
}